<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout_content">
      <h2 class="callout__heading">Ready to get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        fugiat dolore doloremque perspiciatis voluptates iure ea, accusamus
        labore nobis enim?
      </p>
    </div>
    <div class="callout__button">
      <a href="#"><button class="btn btn--secondary">get started</button></a>
    </div>
  </div>
</div>
