<block>
  <div class="block__header">
    <h2>Host On The Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro!</p>
  </div>

  <div class="container">
    <div class="container grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container feature__icon">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          dicta aliquid vel, sint aliquam nihil dolor, et sit officia delectus
          perspiciatis magni eos tenetur dolores iusto earum esse voluptates ut.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img src="images/easy.jpg" alt="" />
    </div>
  </div>

  <div class="container">
    <div class="container grid grid--1x2 feature">
      <img src="images/fast.jpg" alt="" />
      <div class="feature__content">
        <span class="icon-container feature__icon">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply fast websites</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          dicta aliquid vel, sint aliquam nihil dolor, et sit officia delectus
          perspiciatis magni eos tenetur dolores iusto earum esse voluptates ut.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container feature__icon">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__heading">WordPress made easy</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          dicta aliquid vel, sint aliquam nihil dolor, et sit officia delectus
          perspiciatis magni eos tenetur dolores iusto earum esse voluptates ut.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img src="images/wordpress.jpg" alt="" />
    </div>
  </div>

  <div class="container">
    <div class="container grid grid--1x2 feature">
      <img src="images/support.jpg" alt="" />
      <div class="feature__content">
        <span class="icon-container feature__icon">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class="feature__heading">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          dicta aliquid vel, sint aliquam nihil dolor, et sit officia delectus
          perspiciatis magni eos tenetur dolores iusto earum esse voluptates ut.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
    </div>
  </div>
</block>
