<section class="block block--dark block--skewed--right showcase__hero">
  <header class="block__heading block__header">
    <h2 class="showcase__heading">User friendly control pannel</h2>
  </header>

  <div class="container grid grid--1x2">
    <img class="showcase__image" src="/images/ipad.png" alt="" />

    <div class="showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary snap__icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start and manged updates</h3>
          <p class="showcase__paragraph">
            Our cloud plans include easy onboarding for new and existing sites
            and managed wordpress and WooCommerce auto-updates
          </p>
        </div>
      </div>

      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, Git & WP-CLI</h3>
          <p class="showcase__paragraph">
            We make your WordPress and WooCommerce development flow easier with
            a convinient staging tool and Git and WP-CLI integration.
          </p>
        </div>
      </div>

      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p class="showcase__paragraph">
            Speed up your WordPress and Woo sites with our SG Optimizer plugin
            through smart dynamic caching and multiple other performance
            optimizations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
